---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="Past work, 2010-2017 - Keith Collins"
  description="Archive of articles written 2010-2017 by Keith Collins, covering technology, data journalism, and visual storytelling."
>

  <h2>What I do</h2>

  <p>I am a programmer, designer and data journalist at The New York Times. That means I write words as well as code, do traditional reporting and use many different tools to create news articles. On the tech side of my job, I often use some combination of Javascript, Node.js, D3.js, SVG, Canvas, WebGL and Adobe Illustrator.</p>

  <p>You can see my latest work on <a href="https://www.nytimes.com/by/keith-collins" rel="nofollow">my author page at The New York Times</a></p>

  <p>Below is an archive of projects and stories I worked on between 2010 and 2017.</p>

  <h3>Archived Code Projects</h3>

  <p>These are very old projects that I haven't looked at in a long time! If you find any of them useful, please let me know.</p>

  <p><a href="https://github.com/keithcollins/node-seasonal">node-seasonal</a> - A simple Node.js wrapper for X-13-ARIMA-SEATS, the seasonal adjustment software by the U.S. Census Bureau.</p>

  <p><a href="https://github.com/keithcollins/node-botometer">node-botometer</a> - Evaluates Twitter accounts to determine whether they're bots.</p>

  <p><a href="https://twitter.com/actual_ransom">@actual_ransom</a> - A bot that watches the bitcoin wallets tied to the WannaCry ransomware attack. Code available <a href="https://github.com/keithcollins/actual_ransom">here</a>.</p>

  <p><a href="https://github.com/keithcollins/pi-bots">pi-bots</a> - A simple system for running Twitter bots from a Raspberry Pi.</p>

  <h3>Archived Articles</h3>

  <p>This is a list of articles I’ve written, both visual and traditional. Early in my career, I kept careful lists of the work I published. Unfortunately, many of these links, especially the older ones, are either behind paywalls or fully broken.</p>

  <article class="archive">
    <h2><strong>2017</strong></h2>
    <p><a href="https://qz.com/1131515/google-collects-android-users-locations-even-when-location-services-are-disabled/" rel="nofollow">Google collects Android users’ locations even when location services are disabled</a> (Quartz, 2017-11-21)</p>
    <p><a href="https://qz.com/1110481/this-new-twitter-account-hunts-for-bots-that-push-political-opinions/" rel="nofollow">I made a Twitter bot that hunts for Twitter bots that push political opinions</a> (Quartz, 2017-10-25)</p>
    <p><a href="https://qz.com/985093/inside-the-digital-heist-that-terrorized-the-world-and-made-less-than-100k/" rel="nofollow">Inside the digital heist that terrorized the world—and only made $100k</a> (Quartz, 2017-05-21)</p>
    <p><a href="https://qz.com/986094/wannacry-ransomware-attacks-victims-have-stopped-paying-the-ransom/" rel="nofollow">Victims of the WannaCry ransomware attacks have stopped paying up</a> (Quartz, 2017-05-17)</p>
    <p><a href="https://qz.com/969280/with-h-1b-under-threat-alphabet-is-the-only-big-tech-company-to-ramp-up-immigration-lobbying/" rel="nofollow">With H-1B under threat, Alphabet is the only big tech company to ramp up immigration lobbying</a> (Quartz,
        2017-04-27)</p>
    <p><a href="https://qz.com/946398/a-supreme-court-case-involving-artificial-sweeteners-could-have-a-huge-impact-on-silicon-valley/" rel="nofollow">A Supreme Court case involving artificial sweeteners could have a huge impact on Silicon Valley</a> (Quartz,
        2017-04-04)</p>
    <p><a href="https://qz.com/937038/github-now-lets-its-workers-keep-the-ip-when-they-use-company-resources-for-personal-projects/" rel="nofollow">GitHub now lets its workers keep the IP when they use company resources for personal projects</a> (Quartz,
        2017-03-21)</p>
    <p><a href="https://qz.com/932448/forget-smart-tvs-in-the-1980s-spies-were-hacking-typewriters/" rel="nofollow">Today we’re worried about smart TVs, but in the 1980s Russian spies were hacking typewriters</a> (Quartz, 2017-03-16)</p>
    <p><a href="https://qz.com/894925/why-the-dow-20k-milestone-is-meaningless-a-visual-guide/" rel="nofollow">Why the Dow 20K milestone is meaningless: a visual guide</a> (Quartz, 2017-01-26)</p>
    <h2><strong>2016</strong></h2>
    <p><a href="https://qz.com/863467/" rel="nofollow">How Adobe Flash, once the face of the web, fell to the brink of obscurity</a> (Quartz, 2016-12-29)</p>
    <p><a href="http://qz.com/834704/election-turnout-and-the-disengaged-plurality-42-of-eligible-us-voters-stayed-home-in-2016/" rel="nofollow">The disengaged plurality: 42% of eligible US voters stayed home</a> (Quartz, 2016-11-11)</p>
    <p><a href="https://qz.com/726338" rel="nofollow">The code that took America to the moon was just published to GitHub, and it’s like a 1960s time capsule</a> (Quartz, 2016-07-09)</p>
    <p><a href="https://qz.com/716384" rel="nofollow">Brexit in context: Every EU membership vote since 1972</a> (Quartz, 2016-06-24)</p>
    <p><a href="https://qz.com/738900" rel="nofollow">Coups d’etat have become less common but more successful</a> (Quartz, 2016-06-22)</p>
    <p><a href="https://qz.com/691849" rel="nofollow">The future of software depends on a jury’s ability to understand this question</a> (Quartz, 2016-05-26)</p>
    <p><a href="http://qz.com/646467/" rel="nofollow">How one programmer disrupted the internet by deleting a tiny piece of code</a> (Quartz, 2016-03-27)</p>
    <p><a href="http://qz.com/644111/" rel="nofollow">Disinterest and apathy are crushing it in the US elections right now</a> (Quartz, 2016-03-22)</p>
    <p><a href="http://qz.com/634032/" rel="nofollow">What Republicans and Democrats have talked about the most during debates</a> (Quartz, 2016-03-09)</p>
    <p><a href="http://qz.com/633455/" rel="nofollow">The IRS has finally taken its failed identity protection service offline</a> (Quartz, 2016-03-07)</p>
    <p><a href="http://qz.com/628761/" rel="nofollow">The IRS is using a system that was hacked to protect victims of a hack</a> (Quartz, 2016-03-01)</p>
    <p><a href="http://qz.com/626404/" rel="nofollow">Your checking account is probably easier to hack into than your email</a> (Quartz, 2016-03-01)</p>
    <p><a href="http://qz.com/623131/" rel="nofollow">All the times Obama has said he’s going to close Guantanamo Bay</a> (Quartz, 2016-02-23)</p>
    <p><a href="http://qz.com/619629/" rel="nofollow">A Los Angeles hospital paid $17,000 in ransom to hackers blocking access to patient records</a> (Quartz, 2016-02-18)</p>
    <p><a href="http://qz.com/609255/" rel="nofollow">The injuries most likely to land you in an emergency room in America</a> (Quartz, 2016-02-04)</p>
    <p><a href="http://qz.com/603650/" rel="nofollow">The US political poetry generator</a> (Quartz, 2016-01-28)</p>
    <p><a href="http://qz.com/593570/the-most-frequently-used-words-in-every-state-of-the-union-speech-ever-made/" rel="nofollow">The most frequently used words in every State of the Union address</a> (Quartz, 2016-01-13)</p>
    <p><a href="http://qz.com/591793/the-long-goodbye-to-internet-explorer/" rel="nofollow">The long goodbye to Internet Explorer</a> (Quartz, 2016-01-12)</p>
    <h2><strong>2015</strong></h2>
    <p><a href="https://qz.com/566948" rel="nofollow">The tumultuous history of the drugs that helped cure Jimmy Carter</a> (Quartz, 2015-12-10)</p>
    <p><a href="http://qz.com/583497/researchers-keep-citing-these-retracted-papers/" rel="nofollow">Why researchers keep citing retracted papers</a> (Quartz, 2015-12-31)</p>
    <p><a href="http://qz.com/582720/americas-most-prolific-wall-punchers-charted/" rel="nofollow">America’s most prolific wall punchers, charted</a> (Quartz, 2015-12-29)</p>
    <p><a href="http://qz.com/580859/the-most-misleading-charts-of-2015-fixed/" rel="nofollow">The most misleading charts of 2015, fixed</a> (Quartz, 2015-12-23)</p>
    <p><a href="http://qz.com/576057/why-infectious-bacteria-are-winning/" rel="nofollow">Why infectious bacteria are winning</a> (Quartz, 2015-12-22)</p>
    <p><a href="http://qz.com/574536/where-there-are-more-women-than-men-working-in-the-us/" rel="nofollow">Where there are more women than men working in the US</a> (Quartz, 2015-12-16)</p>
    <p><a href="http://qz.com/566948/the-tumultuous-history-of-the-drugs-that-helped-cure-jimmy-carter/" rel="nofollow">The tumultuous history of the drugs that helped cure Jimmy Carter</a> (Quartz, 2015-12-10)</p>
    <p><a href="http://qz.com/566609/see-for-yourself-where-carbon-emissions-are-coming-from-now-and-in-the-future/" rel="nofollow">See for yourself where carbon emissions are coming from now and in the future</a> (Quartz, 2015-12-08)</p>
    <p><a href="http://qz.com/541601/explore-the-complicated-network-of-allies-and-enemies-in-syrias-civil-war/" rel="nofollow">Explore the complicated network of allies and enemies in Syria’s civil war</a> (Quartz, 2015-11-02)</p>
    <p><a href="http://qz.com/537672/how-daylight-saving-affects-how-much-sun-you-see-each-year/" rel="nofollow">How much daylight does daylight saving time save?</a> (Quartz, 2015-10-30)</p>
    <p><a href="http://qz.com/524323/how-do-you-put-a-price-on-a-video-game-when-its-the-first-of-its-kind/" rel="nofollow">How do you put a price on a video game when it’s the first of its kind?</a> (Quartz, 2015-10-15)</p>
    <p><a href="http://qz.com/517649/never-trust-the-first-number-announced-in-a-data-breach/" rel="nofollow">Never trust the first number announced in a data breach</a> (Quartz, 2015-10-07)</p>
    <p><a href="http://qz.com/505153/quiz-is-it-an-80s-band-or-super-pac/" rel="nofollow">Quiz: Is it an ’80s band or a super PAC?</a> (Quartz, 2015-09-10)</p>
    <p><a href="http://qz.com/498808/follow-the-flow-of-syrian-civilians-from-the-middle-east-to-western-europe/" rel="nofollow">Follow the flow of Syrian civilians from the Middle East to Western Europe</a> (Quartz, 2015-09-10)</p>
    <p><a href="http://qz.com/445233/inside-the-irss-massive-data-breach/" rel="nofollow">Inside the IRS data breach</a> (Quartz, 2015-08-27)</p>
    <p><a href="http://qz.com/482462/not-only-is-it-not-worth-it-to-get-a-masters-degree-in-fine-arts-and-humanities-you-may-actually-see-your-lifetime-earnings-drop/" rel="nofollow">Inline interactive: should you go to grad school?</a> (Quartz, 2015-08-20)</p>
    <p><a href="http://qz.com/460482/heres-what-your-stolen-identity-goes-for-on-the-internets-black-market/" rel="nofollow">Here’s what your stolen identity goes for on the dark web</a> (Quartz, 2015-07-23)</p>
    <p><a href="http://qz.com/452650/harper-lee-revisions/" rel="nofollow">See where ‘Go Set a Watchman’ overlaps with ‘To Kill a Mockingbird,’ word for word</a> (Quartz, 2015-07-14)</p>
    <p><a href="http://www.bloomberg.com/graphics/2015-irs-income-tax/" rel="nofollow">As the Rich Bounce Back, the Middle Class Stays Stagnant</a> (Bloomberg Business, 2015-06-18)</p>
    <p><a href="http://www.bloomberg.com/graphics/2015-verizon-aol-deal/" rel="nofollow">Through Years of Tumult, AOL Sticks Around</a> (Bloomberg Business, 2015-05-12)</p>
    <p><a href="http://www.bloomberg.com/graphics/2015-pace-of-social-change/" rel="nofollow">This Is How Fast America Changes Its Mind</a> (Bloomberg Business, 2015-04-26)</p>
    <p><a href="http://www.bloomberg.com/news/articles/2015-04-15/here-s-why-companies-keep-losing-the-battle-against-hackers" rel="nofollow">Here’s Why Companies Keep Losing the Battle Against Hackers</a> (Bloomberg Business, 2015-04-15)</p>
    <p><a href="http://www.bloomberg.com/news/articles/2015-03-04/u-s-companies-are-stashing-2-1-trillion-overseas-to-avoid-taxes" rel="nofollow">Inline Charts: Keeping Cash Abroad</a> (Bloomberg Business, 2015-03-04)</p>
    <p><a href="http://www.bloomberg.com/graphics/2015-oscar-winners/" rel="nofollow">How to Build an Oscar Winner</a> (Bloomberg Business, 2015-02-06)</p>
    <p><a href="http://www.bloomberg.com/graphics/2015-measles-outbreaks/" rel="nofollow">Measles in America</a> (Bloomberg Business, 2015-02-06)</p>
    <p><a href="http://www.bloomberg.com/graphics/2015-chipotle-oral-history/" rel="nofollow">Inline Map: Chipotle Stores</a> (Bloomberg Businessweek, 2015-02-05)</p>
    <h2><strong>2014</strong></h2>
    <p><a href="http://www.bloomberg.com/graphics/2014-data-breaches/" rel="nofollow">The Worst Corporate Hacks of 2014</a> (Bloomberg News, 2014-12-12)</p>
    <p><a href="http://www.bloomberg.com/politics/articles/2014-11-04/5-counties-to-watch-in-the-battle-for-the-senate" rel="nofollow">Live Midterm Election Maps</a> (Bloomberg Politics, 2014-11-04)</p>
    <p><a href="http://www.bloomberg.com/politics/graphics/2014-who-votes-in-midterms/" rel="nofollow">A Small Slice of Americans Gets to Decide Who Will Rule the Senate</a> (Bloomberg Politics, 2014-10-06)</p>
    <p><a href="http://www.businessweek.com/articles/2014-09-04/whos-suing-whom-intellectual-ventures-investors-and-targets" rel="nofollow">Intellectual Ventures’ Investors and Targets</a> (Bloomberg Businessweek, 2014-09-04)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-08-21/top-data-breaches.html" rel="nofollow">Data Breaches in the U.S.</a> (Bloomberg News, 2014-09-04)</p>
    <p><a href="http://www.businessweek.com/articles/2014-08-21/ferguson-economic-political-conditions-fuel-protest-fury" rel="nofollow">Map: Injustice in Ferguson, Long Before Michael Brown</a> (Bloomberg Businessweek, 2014-08-21)</p>
    <p><a href="http://www.businessweek.com/articles/2014-08-07/libya-waste-fraud-erase-billions-in-national-wealth" rel="nofollow">Chart: Libya’s Wealth</a> (Bloomberg Businessweek, 2014-08-07)</p>
    <p><a href="http://www.businessweek.com/articles/2014-07-28/beer-map-880-craft-breweries-in-the-u-dot-s-dot-a-few-in-mississippi#fullGraphic" rel="nofollow">Interactive Map: Where the Craft Beer Flows Like Wine</a> (Bloomberg Businessweek, 2014-07-28)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-07-24/time-warner-evolution.html" rel="nofollow">Time Warner: 25 Years of Acquisitions, Sales, and Spinoffs</a> (Bloomberg Businessweek, 2014-07-25)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-06-25/car-thefts-2013.html" rel="nofollow">Car Thefts Across the Country</a> (Bloomberg News, 2014-06-26)</p>
    <p><a href="http://www.businessweek.com/articles/2014-06-19/samsung-everland-theme-park-has-big-hold-on-electronics-giant" rel="nofollow">The Amusement Park That Controls Samsung</a> (Bloomberg Businessweek, 2014-06-19)</p>
    <p><a href="http://www.businessweek.com/articles/2014-06-05/the-no-tech-tactics-of-north-koreas-target-zero-park-sang-hak" rel="nofollow">Animated map of prevailing winds in Korea</a> (Bloomberg Businessweek, 2014-06-05)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-05-23/flappy-bird.html" rel="nofollow">The Rise and Fall of Flappy Bird</a> (Bloomberg News, 2014-05-23)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-05-12/big-tech-ceo-likability.html" rel="nofollow">Big Tech CEOs: Likability vs. Shareholder Returns</a> (Bloomberg News, 2014-05-15)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-05-14/target-data-breach.html" rel="nofollow">Target’s Data Breach: The Largest Retail Hack in U.S. History</a> (Bloomberg News, 2014-05-14)</p>
    <p><a href="http://www.bloomberg.com/quicktake/european-parliament/" rel="nofollow">Cartogram: The European Parliament</a> (Bloomberg QuickTake, 2014-05-14)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-05-14/target-data-breach.html" rel="nofollow">Target’s Data Breach: The Largest Retail Hack in U.S. History</a> (Bloomberg News, 2014-05-14)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-05-01/india-election-coalitions.html" rel="nofollow">India’s Election: Forming a Coalition Government</a> (Bloomberg News, 2014-05-01)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-05-01/pharma-mergers.html" rel="nofollow">Consolidating the Pharmaceutical Industry</a> (Bloomberg News, 2014-05-01)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-05-01/india-election-coalitions.html" rel="nofollow">India’s Election: Forming a Coalition Government</a> (Bloomberg News, 2014-05-01)</p>
    <p><a href="http://www.bloomberg.com/infographics/2014-05-01/pharma-mergers.html" rel="nofollow">Consolidating the Pharmaceutical Industry</a> (Bloomberg News, 2014-05-01)</p>
    <p><a href="http://hosted.ap.org/interactives/2014/oscars/?START=speech-charts" rel="nofollow">Oscar speeches by the numbers</a> (The Associated Press, 2014-02-25)</p>
    <p><a href="http://www.fastcolabs.com/3025280/where-is-indie-gaming-going" rel="nofollow">Where Is Indie Gaming Going?</a> (Fast Company, 2014-01-23)</p>
    <h2><strong>2013</strong></h2>
    <p><a href="http://projects.aljazeera.com/2013/patent-story/" rel="nofollow">Will 2014 bring the death of the patent troll?</a> (Al Jazeera America, 2013-12-23)</p>
    <p><a href="http://www.nytimes.com/2013/12/15/health/the-selling-of-attention-deficit-disorder.html" rel="nofollow">Online Test Asks Whether You Could Have A.D.H.D., Too</a> (The New York Times, 2013-12-14)</p>
    <p><a href="http://www.nytimes.com/interactive/2013/11/21/us/politics/senate-filibusters.html#g-nav" rel="nofollow">The Nominees Waiting for a Vote</a> (The New York Times, 2013-11-21)</p>
    <p><a href="http://www.nytimes.com/interactive/2013/11/10/us/1110-obama-approval-versus-selected-governors.html?_r=0" rel="nofollow">Approval Ratings in Recent Polls</a> (The New York Times, 2013-11-10)</p>
    <p><a href="images/biggest-winners.png">Biggest Winners in the History of NYC Mayoral Races</a> (The New York Times, 2013-11-05)</p>
    <p><a href="images/health-exchanges-print.png">Tracking the Progress of the Health Care Exchanges</a> (The New York Times, 2013-10-27)</p>
    <p><a href="http://www.nytimes.com/interactive/2013/10/20/us/politics/the-factions-in-the-house.html?_r=0" rel="nofollow">The Factions in the House of Representatives</a> (The New York Times, 2013-10-19)</p>
    <p><a href="http://www.nytimes.com/interactive/2013/09/27/us/who-goes-to-work-during-government-shutdown.html" rel="nofollow">Who Goes to Work? Who Stays Home?</a> (The New York Times, 2013-09-29)</p>
    <p><a href="images/print-obama.jpg">The Public’s Ratings of the President</a> (The New York Times, 2013-09-25)</p>
    <p><a href="http://www.nytimes.com/interactive/2013/09/10/world/middleeast/american-views-on-intervention-in-syria.html?ref=middleeast" rel="nofollow">American Views on Intervention in Syria</a> (The New York Times, 2013-09-11)</p>
    <p><a href="http://news.yahoo.com/jim-thorpe-pa-fights-keep-body-namesake-062216887--spt.html;_ylt=A2KJ3CUkiShSpRQArCDQtDMD" rel="nofollow">Jim Thorpe, Pa., fights to keep body of namesake</a> (The Associated Press, 2013-09-05)</p>
    <p><a href="http://news.msn.com/pop-culture/are-you-a-cake-boss-extreme-caking-hits-home-cooks" rel="nofollow">Influenced by media, amateurs try extreme caking</a> (The Associated Press, 2013-09-05)</p>
    <p><a href="http://www.businessinsider.com/philadelphia-schools-are-so-broke-that-teachers-have-turned-to-crowd-funding-for-supplies-2013-9" rel="nofollow">Philadelphia Teachers Crowd Funding For Supplies</a> (The Associated Press, 2013-09-03)</p>
    <p><a href="http://www.slate.com/blogs/future_tense/2013/08/20/martin_manley_s_suicide_site_is_there_such_a_thing_as_immortality_online.html" rel="nofollow">Is It Possible to Achieve Immortality Online?</a> (Slate, 2013-08-20)</p>
    <p><a href="http://bigstory.ap.org/article/penn-researchers-strive-more-athletic-robot" rel="nofollow">Penn researchers strive for a more athletic robot</a> (The Associated Press, 2013-08-13)</p>
    <p><a href="http://www.youtube.com/watch?v=NHBmn4MB6ZY" rel="nofollow">University of Pennsylvania’s Jumping, Climbing Robot</a> (The Associated Press, 2013-08-13)</p>
    <p><a href="http://bigstory.ap.org/article/philly-officials-probe-gas-blast-injured-8" rel="nofollow">Mayor: Cigarette link to Pa. blast ‘speculation’</a> (The Associated Press, 2013-07-30)</p>
    <p><a href="http://www.thereporteronline.com/article/20130730/news03/130739957/philly-agency-hosts-career-expo-for-ex-offenders" rel="nofollow">Philly agency hosts career expo for ex-offenders</a> (The Associated Press, 2013-07-30)</p>
    <p><a href="http://bigstory.ap.org/article/philadelphia-row-house-collapses-gas-investigated" rel="nofollow">Philadelphia row house collapses, injuring 8</a> (The Associated Press, 2013-07-29)</p>
    <p><a href="http://www.denverpost.com/crush/ci_23728232/holder-speak-philly-about-voting-rights-act" rel="nofollow">National Urban League meeting begins in Philly</a> (The Associated Press, 2013-07-25)</p>
    <p><a href="https://medium.com/all-watched-over/1bd3a43ce0d0" rel="nofollow">You’re Being Watched — And Not Just By The Government</a> (Medium, 2013-07-19)</p>
    <p><a href="http://bigstory.ap.org/article/5-things-know-about-us-heat-wave" rel="nofollow">5 things to know about the US heat wave</a> (The Associated Press, 2013-07-16)</p>
    <p><a href="http://cumberlink.com/news/state-and-regional/hundreds-in-philly-protest-zimmerman-verdict/article_5cbf1dc8-ed45-11e2-832c-0019bb2963f4.html" rel="nofollow">Hundreds in Philly protest Zimmerman verdict</a> (The Associated Press, 2013-07-15)</p>
    <p><a href="http://www.apimages.com/metadata/Index/FBI-Schuylkill-River-Search/64c17666e2f34ab28811d903b654b869/1/0" rel="nofollow">FBI Schuylkill River Search 1</a> (The Associated Press, 2013-07-15)</p>
    <p><a href="http://www.apimages.com/metadata/Index/FBI-Schuylkill-River-Search/cf2eef93c010435abc07a0d3988ca2df/2/0" rel="nofollow">FBI Schuylkill River Search 2</a> (The Associated Press, 2013-07-15)</p>
    <p><a href="http://www.apimages.com/metadata/Index/FBI-Schuylkill-River-Search/81cf73c0cd6c4d7eb662fef0054b051c/3/0" rel="nofollow">FBI Schuylkill River Search 3</a> (The Associated Press, 2013-07-15)</p>
    <p><a href="http://www.bigstory.ap.org/article/princeton-researchers-create-bionic-ear" rel="nofollow">Princeton researchers create ‘bionic ear’</a> (The Associated Press, 2013-07-03)</p>
    <p><a href="https://news.yahoo.com/apps-mix-history-technology-gettysburg-150139389.html" rel="nofollow">Apps mix history with technology at Gettysburg</a> (The Associated Press, 2013-06-27)</p>
    <p><a href="http://www.observer-reporter.com/article/20130622/NEWS/130629733&amp;source=RSS#.UofKkGTXSXg" rel="nofollow">Boy Scouts moving statue from Philly home</a> (The Associated Press, 2013-06-21)</p>
    <p><a href="http://www.apimages.com/metadata/Index/Philadelphia-Scouts-Eviction/d517f512e0684208ad76c950ceca7e20/19/0" rel="nofollow">Boy Scouts moving statue from Philly home 2</a> (The Associated Press, 2013-06-21)</p>
    <p><a href="http://www.apimages.com/metadata/Index/Philadelphia-Scouts-Eviction/c5886a8c528440ab92e395fab6f1a0e5/20/0" rel="nofollow">Boy Scouts moving statue from Philly home 3</a> (The Associated Press, 2013-06-21)</p>
    <p><a href="http://bigstory.ap.org/article/flag-bearing-skydivers-swoop-philadelphia" rel="nofollow">Flag-bearing skydivers swoop into Philadelphia</a> (The Associated Press, 2013-06-15)</p>
    <p><a href="http://www.apimages.com/metadata/Index/Flag-Day/839183c69ee042b78cd18197bd5ef15b/24/0" rel="nofollow">Flag day in Philadelphia</a> (The Associated Press, 2013-06-14)</p>
    <p><a href="http://www.apimages.com/metadata/Index/Flag-Day/ccb41babccd944b0ab66b53cd72d395a/23/0" rel="nofollow">Flag day in Philadelphia</a> (The Associated Press, 2013-06-14)</p>
    <p><a href="http://bigstory.ap.org/article/girl-who-took-transplant-rules-gets-new-lungs" rel="nofollow">Girl who took on transplant rules gets new lungs</a> (The Associated Press, 2013-06-13)</p>
    <p><a href="http://www.denverpost.com/headlines/ci_23449812/storm-moving-prompts-flood-watch-pa" rel="nofollow">Heavy showers, lightning strike Pa.</a> (The Associated Press, 2013-06-13)</p>
    <p><a href="https://news.yahoo.com/pa-man-finds-reptile-near-sewer-offers-gator-013537057.html" rel="nofollow">Pa. man finds reptile near sewer, offers gator aid</a> (The Associated Press, 2013-06-12)</p>
    <p><a href="https://news.yahoo.com/philadelphia-collapse-survivor-describes-ordeal-125945538.html" rel="nofollow">Philadelphia collapse survivor describes ordeal</a> (The Associated Press, 2013-06-10)</p>
    <p><a href="https://apnews.com/article/bfe819f2ccf14ae3b4cf3d1db337dbb8" rel="nofollow">14th survivor pulled from rubble of collapse</a> (The Associated Press, 2013-06-06)</p>
    <p><a href="https://www.dailylocal.com/news/national/girard-college-drops-student-housing-grades-9-12/article_df45b2a9-5aa9-5d1b-ad0a-b94db1ce14d8.html" rel="nofollow">Girard College drops student housing, grades 9-12</a> (The Associated Press, 2013-06-04)</p>
    <p><a href="http://www.slate.com/articles/technology/future_tense/2013/05/google_glass_social_norms_will_it_be_too_awkward_to_use_in_public.single.html" rel="nofollow">Think Using Google Glass Is Awkward? Early Phone Calls Were Worse.</a> (Slate, 2013-05-14)</p>
    <p><a href="http://projectwordsworth.com/healing-me-harshly/" rel="nofollow">Healing Me Harshly</a> (Project Wordsworth, 2013-05-09)</p>
    <p><a href="http://www.thenewyorkworld.com/2013/02/18/strawberry-fields/" rel="nofollow">Yes, we have no (local) strawberries</a> (The New York World, 2013-02-18)</p>
    <h2><strong>2012</strong></h2>
    <p><a href="http://thebrooklynink.com/2012/10/23/49300-kickstarted-in-brooklyn-one-year-in/" rel="nofollow">Kickstarted in Brooklyn: One Year In</a> (The Brooklyn Ink, 2012-10-23)</p>
    <p><a href="http://thebrooklynink.com/2012/10/10/48702-jury-set-to-deliberate-in-gang-shooting-trial/" rel="nofollow">Jury Set to Deliberate in Gang-Related Murder Trial</a> (The Brooklyn Ink, 2012-10-10)</p>
    <p><a href="http://thebrooklynink.com/2012/10/03/48106-hey-buddy-theres-a-patent-for-that-troll-litigation-hits-brooklyn/" rel="nofollow">There‘s a Patent for That: ‘Troll’ Litigation Hits Brooklyn</a> (The Brooklyn Ink. 2012-10-03)</p>
    <p><a href="http://thebrooklynink.com/2012/10/02/48113-whose-bed-stuy-is-it/" rel="nofollow">Whose Bed-Stuy is it?</a> (The Brooklyn Ink, 2012-10-02)</p>
    <h2><strong>2010</strong></h2>
    <p><a href="http://www.washingtonpost.com/wp-dyn/content/article/2010/07/19/AR2010071904575.html" rel="nofollow">At age 10, he was scared. But now?</a> (The Washington Post, 2010-07-20)</p>
</BaseLayout>

<style>
  .archive ul {
    list-style: none;
    padding: 0;
  }

  .archive li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .archive h3 {
    margin-top: 30px;
    font-weight: 500;
  }
</style>
