---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="Good Forms by Keith Collins"
  description="Keith Collins is a programmer, designer, data journalist and hobbyist musician. He releases music and music software under the name Good Forms."
>
  <h2>Hello 👋 and welcome to my website!</h2>
  
  <p>I am a programmer, designer and data journalist at The New York Times. You can learn more about my career <a href="/archive">here</a>, or check out my latest work for The Times on my <a href="https://www.nytimes.com/by/keith-collins">author page.</a></p>
  
  <h3><strong>The Good Forms</strong></h3>

  <p>I release music and music software under The Good Forms. <a href="/goodforms/">Click here to learn more about The Good Forms</a>.</p>

  <h3><strong>Video Game Development</strong></h3>

  <p>From time to time I like to dabble in video game development, in Unity/C# and on the web.</p>


  <p>* <a href="/cowsandbulls">Click here to play my word game, Cows & Bulls!</a></p>
  <p>* <a href="/blog/2016-08-29-what-im-building">Here</a> is a log of my gamedev explorations from 2016.</p>
  <p>* <a href="/blog/2022-01-23-unity-sprite-rig">Here is a blog post I wrote</a> about rigging and animating 2D characters in Unity.</p>

</BaseLayout>

<style>
  h2 {
    font-weight: 400;
  }
</style>
